.wrap {
  margin-block: 30px;
}
.reportItem {
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.reportCountry {
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px){
  .reportCountry {
    margin-left: 20px;
    width: auto;
  }
}